
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
h1, h2, h3 {
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #F1D90E;
}
body {

}
.hidden-heading {
    display: none;
}
/* Header */
header {
    background-color: #0E26F1;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #fdfcfc;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}
h1 {
    letter-spacing: 2px;
    color: #F4C30B;
}
#menu {
    text-transform: capitalize;
    letter-spacing: 3px;
    list-style-type: none;
    color: #F1D90E;
    font-size: 110%;
}
#menu > li {
    margin-bottom: 2em;
}
.active {
    border-bottom: 1px solid #F1D90E;
}
/* Nav bar */
nav {
    position: absolute;
    background-color: #0E26F1;
    width: 100%;
    padding: 0 1rem;
    left: 0;  
    top: 100%;
    display: none;
}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* Main */
main {
    background-color: #F1D90E;
    flex: 1 0 auto;
}
/* Footer */
footer {
    background-color: aqua;
}
/**/
/**/
/**/
/**/

/* Media query: larger and landscape phones */
@media screen and (min-width: 576px) {
    
}
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

}
