/* Google fonts import */

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
h1,
h2,
h3 {
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #fcb935;
}

hr {
    border: 1px solid #fcb935;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fcb935;
}

.nomargin {
    margin: 0px;
}

.hidden-heading {
    display: none;
}

img {
    max-width: 50vh;
    max-height: 50vh;
}

.parallax {
    /* The image used */
    background-image: url("../images/screenshot.2.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-hr {
    width: 50%;
    margin-left: 25%;
}
/* Header */
header {
    background-color: #121f28;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    min-height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    letter-spacing: 2px;
    color: #fcb935;
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;
}

#menu {
    text-transform: uppercase;
    letter-spacing: 3px;
    list-style-type: none;
    color: #fcb935;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 2em;
    border: 1px solid #fcb935;
    text-align: center;
}

.active {
    border-bottom: 1px solid #fcb935;
}

/* Nav bar */
nav {
    position: absolute;
    background-color: #121f28;
    width: 100%;
    padding: 1rem;
    left: 0;
    top: 100%;
    display: none;
    box-shadow: 0 2px 2px #121f28;
    border-radius: 0 0 20px 20px;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    margin-top: 74px;
    flex: 1 0 auto;
    flex-direction: column;
}

/* Welcome section */
#welcome {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 100%;
}

.welcome-text {
    position: relative;
    text-align: start;
    padding: 50px 10px;
    background-color: rgba(18, 31, 40, 0.7);
    width: 80%;
    margin: 10%;
    font-size: 130%;
    border-radius: 20px;
}

.welcome-text h2 {
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.welcome-text p {
    padding-bottom: 20px;
}

/* Reasons section */
#reasons {
    top: 100%;
    width: 100%;
    background-color: rgba(18, 31, 40, 95%);
}

#reasons1,
#reasons2 {
    width: 80%;
    margin: 20px auto;
    position: relative;
}

#reasons h2 {
    padding: 20px 0 20px 0;
    font-size: 150%;
    text-transform: uppercase;
    text-align: center;
}

#reasons1 p,
#reasons2 p {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 5px;
}

#reasons hr {
    border: 1px solid #fcb935;
    margin: 3px 0;
}

/* Image for reasons section */
#circle-image {
    background: url('../images/screenshot.3.png') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#reasons-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contact us section */
#contact {
    background: url("../images/screenshot.1.png") no-repeat center center/cover;
    height: 600px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: 100%;
}

.contact-text {
    position: absolute;
    text-align: center;
    padding: 50px 10px;
    background-color: rgba(18, 31, 40, 0.7);
    width: 80%;
    margin: 10%;
    font-size: 130%;
    border-radius: 20px;
}

.contact-text h2 {
    padding-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.contact-text ul {
    list-style-type: none;
    text-align: center;
}

.contact-text a {
    text-decoration: none;
    color: #fcb935;
}

.contact-text li {
    padding-bottom: 10px;

}

/* Location/Where to find us section */
#location {
    width: 100%;
    align-self: center;
    padding-bottom: 60px;
    margin: 0px auto;
}

#location hr {
    width: 75%;
    margin: 0 auto;
}

.map {
    width: 100%;
    height: 200px;
    border: 0;
    border-radius: 0%;
    display: flex;

}

.map iframe {
    width: 100%;
}

.address {
    text-align: center;
    background-color: rgba(18, 31, 40);
    height: 200px;
    width: 100%;
    border-radius: 0px;
}

.address li {
    list-style-type: none;
    padding: 5px 0 5px 0;
}

.address h2 {
    padding: 20px 0 10px 0;
    font-weight: bold;
    text-transform: uppercase;
}


/* Footer */
footer {
    background-color: #121f28;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#social-media i {
    color: #fcb935;
    text-decoration: none;
    font-size: 150%;
}

#social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 20px;
}



/* Treatments page css*/
.parallax2 {
    /* The image used */
    background-image: url("../images/screenshot.3.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main */
/* Treatments section */
#treatments-title {
    height: 80vh;
    width: 100%;
    background-color: rgba(18, 31, 40, 0.6);
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

#treatments-title h2 {
    text-align: center;
    padding-left: 5px;
    font-size: 50px;
}

.solidblock {
    height: 20px;
    background-color: #121f28;
}


/* Styling all images in treamtent section*/
#treatments img {
    max-height: 100%;
    max-width: 100%;
    padding: 20px;
    border-radius: 20px;
}

#treatments {
    position: absolute;
    text-align: center;
    background-color: rgba(18, 31, 40, 0.9);
    width: 100%;
    font-size: 130%;
    padding: 10px 10px 134px 10px;
}

#treatments a {
    color: #fcb935;
}

#treatments a:hover {
    color: #121f28;
    background-color: #fcb935;
}

#treatments h2,
h3 {
    text-transform: uppercase;
    padding: 10px;
}

/* Footer button */
#book {
    display: flex;
    align-self: center;
    justify-content: center;
}

.booking-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #121f28;
    /* Change color as needed */
    color: #fcb935;
    text-decoration: none;
    border-radius: 5px;
    font-size: 200%;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.booking-btn:hover {
    /* Invert colours when hovering to show when selected*/
    background-color: #fcb935;
    color: #121f28;
}


/* Booking page */
#booking-form {
    padding: 12% 0 24% 0;
}

form h2 {
    padding: 0 0 20px 0;
    text-transform: uppercase;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(18, 31, 40, 0.9);
    padding: 20px;
    border-radius: 10px;
    color: #fcb935;
    text-align: center;
}

textarea {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea ::placeholder {
    text-align: center;
}

select {
    width: 100%;
}

input[type="radio"] {
    margin-bottom: 5px;
    margin-right: 5px;
}

.ta-title {
    font-size: 120%;
    text-transform: uppercase;
}

.treatment-group {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.treatment-option {
    flex: 0 0 calc(33.33% - 10px);
}

button[type="submit"] {
    background-color: #fcb935;
    color: #121f28;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}



/* Media query: larger and landscape phones */

@media screen and (min-width: 576px) {}

/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* Header */
    header {
        background-color: rgba(18, 31, 40, 0.9);
        padding: 0 1rem;
        position: fixed;
        z-index: 99;
        width: 100%;
        min-height: 74px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

    h1 {
        text-align: center;
        padding: 0 0 0 0;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background: none;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 10px;
        border: none;
        margin: 0 0 0 0;
        text-align: center;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main */
    main {
        margin-top: 108px;
        font-size: 145%;
    }

    .welcome-text>p {
        padding: 0px 30px;
    }

    /* Reasons section */
    #reasons1,
    #reasons2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
    }

    #reasons1>div,
    #reasons2>div {
        width: 75%;
        padding: 0 40px;
    }

    #reasons2>div {
        text-align: end;
        align-self: flex-end;
    }

    #reasons h2 {
        text-align: center;
        margin: 20px 100px 20px 100px;
    }

    /* Footer */

    /* Location section */

    .address {
        height: 300px;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px 0px 0px 20px;
    }

    #location {
        gap: 0.7rem;
        display: flex;
        justify-content: center;
        margin: 20px auto;
        width: 100%;
        padding: 0 20px 60px 20px;
    }

    .map {
        width: 75%;
        height: 300px;
        border: 0;
        border-radius: 0px 20px 20px 0px;
    }

    .map iframe {
        border-radius: 0 20px 20px 0;
    }

    #treatments-title h2 {
        font-size: 400%;
        text-align: center;
        padding-left: 20px;
    }
    /* Booking page */

    form {
        max-width: 600px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */

@media screen and (min-width: 992px) {
    /* Header */

    /* Nav bar */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: 100%;
        padding-right: 1rem;
        max-height: fit-content;
    }

    #menu {
        display: flex;
        justify-content: space-evenly;
        font-size: 130%;
        text-align: center;
    }

    #menu a:hover {
        border-bottom: 1px solid #fcb935;
    }

    /* Main */
    #welcome {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    /* Contact */
    #contact {
        font-size: 150%;
    }

    .contact-text a:hover {
        color: #121f28;
        background-color: #fcb935;
        padding: 5px;
        border-radius: 10px;
    }

    /* Treatments */
    /* Main */
    .treatment {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        flex-direction: row;
        align-items: flex-start;
        align-items: center;
        justify-content: center;
    }

    .treatment-text {
        flex: 1;
        margin: 0 20px 20px 0;
    }

    .treatment-img {
        flex: 0 0 30%;
        order: 1;
    }
    .treatment-text-right {
        order: 2;
    }

    /* Booking page */
    #booking-form h2 {
        padding: 20px;
    }

    form {
        max-width: 900px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
        width: 75%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        background-color: #fcb935;
        color: #121f28;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        display: block;
        margin: 20px auto 0;
        height: 80px;
        width: 400px;
        font-size: larger;
    }

    button:hover {
        background-color: #121f28;
        color: #fcb935;
        border: 2px solid #fcb935;
    }
#social-media i:hover {
    color:#121f28;
    background-color: #fcb935;
    border-radius: 5px;
    padding: 0 1px;
}
}

/* Screens that are 1200px or larger */

@media screen and (min-width: 1200px) {

    /* Header */
    nav {
        font-size: 120%;
    }

    /* Main */
    #benefits {
        display: flex;
        flex-direction: row;
    }

    #reasons1>div {
        align-self: flex-end;
    }

    #reasons2>div {
        align-self: flex-start;
    }

    #reasons1 {
        order: 0;
    }

    #reasons-image {
        order: 1;
    }

    #reasons2 {
        order: 2;
    }

    /* Treatment Page */
    
    /* Text area size on booking page */
    textarea {
        width: 80%;
    }
}
